<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTDConfig3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--注册别名-->
<typeAliases>
<package name="com.bookstore.commons.beans"/>
</typeAliases>
<!--注册映射文件-->
<mappers >
    <package name="com.bookstore.**.dao"/>
</mappers>

</configuration>
